.username {
	padding-left: 20px;
	padding-bottom: 20px;
	color: #28A745;
}

.control-button {
	margin-right: 10px !important;
}

.error-message
{
	color: red;
	font-size: 18px;
}

.register-input
{
	margin-bottom: 10px;
}

#delete-btn{
	border: 1px solid transparent !important;
}

.delete-btn{
	width: 100px !important;
}
.total-info{
	font-weight: bolder;
}

#money-amount{
	color: #28A745;
}

.quantity, .add-to-cart{
	margin-top: 10px;
}
.child{
	margin-left: 20px;
	padding: 10px;
	height: 400px;
	/*border: 2px solid black;*/
	width: 30%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	font-size: 16px;
}

.order-bordered{
	border: 2px solid grey;
	height: auto;
	width: 100%;
	font-size: 20px;
	margin-bottom: 25px;
	display: inline-block;
	vertical-align: top;
	text-align: left;
}

.name{
	margin-left: 50px;
}
.custom-input
{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin-left: 20px;
	margin-top: 20px;
}

.total-price, .order-no
{
	color: #28A745;
}
.items{
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding-left: 35px;
}
.total-price{
	float: left;
	padding-right: 350px;
}