<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<head th:include="fragments/header :: head">	
</head>

<body>
	<div class="container">
		<br>
		<header>
			<h6 class="text-center">oops!!! ...</h6>
		</header>
		<br>
		<div class="text-center">
		    <h3>error</h3>
		    <h5 th:text="${errorCode}">XXX</h5>
		    <p th:utext="${errorMessage}">fehlermeldung</p>
		    <a href="/" th:href="@{/}">zurueck auf anfang</a>
    </div>
</body>
</html>
